[submodule "lib/fcgi2"]
	path = lib/fcgi2
	url = https://github.com/FastCGI-Archives/fcgi2.git
    branch = master
    update = merge
[submodule "lib/libvoltronic"]
	path = lib/libvoltronic
	url = https://github.com/jvandervyver/libvoltronic.git
    branch = master
    update = merge